.button{
    color: inherit;
    position: relative;
    transition: 0.8s;
    background: transparent;
    visibility: visible;
    transition: .4s cubic-bezier(.165,.84,.44,1);
    border: 2px solid white;
    border-color: var(--main-text-color);
    width: 189px;
    height: 40px;
    outline: none;
    border-radius: 0px;
    padding: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    display: inline-block;
    a{
        color: inherit !important;
        transition: none;
    }
    
}
.white .button{
     border-color: white;
}
.button:hover{
    background: transparent;
    border-color:  var(--color-yellow);
    color: white;
}
.wrapper{
    position: relative;
    display: inline-block;
    visibility: hidden;
   
    .hover{
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        right: 1px;
        visibility: hidden;
        background:  var(--color-yellow);
        overflow: hidden;
    }
    .hover:before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:  var(--color-yellow);
        transition: transform .4s cubic-bezier(.165,.84,.44,1);
        transform: translate3d(0,105%,0);
        visibility: visible;
    }
}
.wrapper:hover{
     .hover:before{
         transform: none;
     }
}
