nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background: rgb(255,255,255);
    z-index: 10;
}
.grid{
    overflow: visible !important;
}
.menuWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
    ul{
        display: flex;
        flex-direction: row;
        li{
            margin-right: 25px;
        }
        li:last-child{
            margin-right: 0px;
        }
    }
}
.logo{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(40px);
     transition: transform 0.8s;
     will-change: transform;
    svg{
        
        g > g:last-child  {
            transition: opacity 0.8s;
        }
    }
}
.animated{
    .logo{
        transform: translateX(-50%) translateY(-15px) scale(0.8);
        svg{
            g > g:last-child  {
                opacity: 0;
            }
        }
    }  
}
.social{
    p{
        margin: 0;
        position: relative;
        z-index: 1;
        transition: 0.4s;
    }
    ul{
        justify-content: flex-end;
        position: absolute;
        right:0;
        top:0;
        opacity: 0;
        transition: opacity 0.2s;
    }
    li{
        margin-right: 0px !important;
        margin-left: 10px;
    }
    

}
.social:hover{
    p{
        transform: translateX(-100%);
    }
    ul{
        opacity: 1;
        transition: opacity 0.8s;
    }
}

.instagram svg,
.facebook svg{
   transition: fill 0.4s;
}

.instagram:hover svg,
.facebook:hover svg{
    fill: var(--color-yellow);
    
}

@media only screen and (max-device-width:  480px){
    .social{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.4s;
        li{
            margin-left: 20px;
            pointer-events: none;
        }
    }
    .menu{
        width: 100%;
        transition: opacity 0.4s;
        ul{
            display: flex;
            justify-content: space-between;
        }
    }
    li{
        margin: 0;
    }
    .animated{
        .menu{
            opacity: 0;
        }
        .social{
            opacity: 1;
        }
    }
    .social:hover{
    p{
        opacity: 0;
    }
    ul{
        opacity: 1;
        transition: opacity 0.8s;
        li{
           pointer-events: all;
        }
    }
}


}