/* style for the theme */


/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,600');

/* FONT IMPORT END */

/* VARIALBES */
:root{
--main-bg-color: #fff;
--main-text-color: #343434; 
--main-link-color: #1573dd;
--color-yellow: #F9CD44;
--color-grey: #EEECFD;
--weight-thin: 100;
--weight-extra-light: 200;  
--weight-light: 300;        
--weight-regular: 400;      
--weight-medium: 500;
--weight-demi: 600;         
--weight-bold: 700;
--weight-extra-bold: 800;
--weight-heavy: 900;
}
/* VARIALBES END */


:global{

/* FONT STYLING */
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight-light); 
  font-size: 12px;
  color: var(--main-text-color);
  letter-spacing: 0.5px;
  line-height: 20px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight-demi); 
  letter-spacing: 1.5px;
  line-height: 18px;
}
h2{
  font-size: 15px;
  margin-bottom: 28px;
}
.display{
   font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  font-weight: var(--weight-extra-light);
  letter-spacing: 2px;
  line-height: 58px;
}
.manchet{
  font-size: 20px;
  font-weight: var(--weight-light);
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 32px;
}
button, .button-look, a{
  font-size: 11px;
  font-weight: var(--weight-demi);
  text-decoration: none;
  color: var(--main-text-color);
  transition: 0.4s;
  letter-spacing: 1px;
}
a:hover{
  color: var(--color-yellow); 
}
/* FONT STYLING END */


/* LAYOUT */

html{
  background-color: var(--main-bg-color);
}
body{
  margin: 0;
}

.container{
  max-width: 1320px;
  overflow: auto;
}
.fixed{
  position: fixed;
}
section{
  margin-bottom: 99px;
}
div[class^="col-"]{
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
main{
  > div{
    margin-bottom: 425px;
    z-index: 1;
    position: relative;
    background: white;
  }
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
  box-sizing: border-box;
  height: 425px;
}


/* LAYOUT END */


/* COMMON ELEMENTS */
.button-look{
    outline: none;
    border-radius: 0px;
    padding: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    display: inline-block;
    transition: 0.2s;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.divider{
    height: 1px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: rgb(224, 224, 224);
    padding: 0px;
}
.faded{
  color: #989898;
}
.full-width{
  background-color: var(--color-grey);
  padding: 60px;
}
.text-icon{
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--weight-demi); 
  text-transform: uppercase;
  color: #989898;
}

/* COMMON ELEMENTS END */


/* OTHER */

.mce-content-body {
  img{
    opacity: 1;
  }
}

}
