/* style for the theme */


/* FONT IMPORT */


/* FONT IMPORT END */

/* COLORS */
:root{
--main-bg-color: #fff;
--main-text-color: #111111; //#0d2b3e;
--main-link-color: #1573dd;
--grey: #f9f9f9;
}
/* COLORS END */


//Everything below will keep their classnames
:global{

/* FONT STYLING */

/* FONT STYLING END */


/* LAYOUT */

html{
  background-color: var(--main-bg-color);
}

.container{
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.fixed{
  position: fixed;
}

/* LAYOUT END */


/* COMMON ELEMENTS */

button, .button-look{
    outline: none;
    border-radius: 0px;
    padding: 10px;
    font-size: 16px;
    font-family: MaisonBold;
    text-transform: uppercase;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    display: inline-block;
    padding-top: 12px;
    transition: 0.15s;
}

.divider{
    height: 1px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: rgb(224, 224, 224);
    padding: 0px;
}

/* COMMON ELEMENTS END */


/* OTHER */

.mce-content-body {
  img{
    opacity: 1;
  }
}



}